/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.footer__wrapper {
  background: #1c1c1c;
  color: #fff;
}
.footer__content {
  width: 100%;
  padding: 50px 0px 60px;
}
@media only screen and (max-width: 991px) {
  .footer__content {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__content .privacy-for-pc-only {
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .footer__content .privacy-for-pc-only {
    display: none;
  }
}
.footer__content .privacy-for-mb-only {
  display: none;
  margin-top: 32px;
}
@media only screen and (max-width: 991px) {
  .footer__content .privacy-for-mb-only {
    display: flex;
    justify-content: center;
  }
}
.footer__header {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 220px;
  object-fit: cover;
  flex-shrink: 0;
}
@media only screen and (max-width: 991px) {
  .footer__logo {
    width: 174px;
  }
}
.footer__privacy {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.footer__privacy:hover {
  color: #fff;
}
.footer__detail {
  margin: 24px 0px 48px;
}
@media only screen and (max-width: 991px) {
  .footer__detail {
    margin: 8px 0px 32px;
  }
}
.footer__detail-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .footer__detail-text {
    text-align: center;
    max-width: 313px;
  }
}
.footer__list {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  .footer__list {
    max-width: 100%;
    padding: 0px 16px 6px;
    overflow-x: auto;
    justify-content: flex-start;
  }
}
.footer__list-item {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}
.footer__list-item:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 991px) {
  .footer__list-item {
    min-width: 70px;
    max-width: 70px;
    height: 70px;
  }
}
.footer__list-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.footer__copy-right {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
@media only screen and (max-width: 991px) {
  .footer__copy-right {
    margin-top: 36px;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__copy-right-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__copy-right .ssl-image {
  width: 115px;
  height: 32px;
  flex-shrink: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 991px) {
  .footer__copy-right .ssl-image {
    position: unset;
  }
}

.price-page__footer {
  margin-top: 32px;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .price-page__footer {
    margin-top: 12px;
    flex-direction: column;
  }
}
.price-page__footer-left {
  max-width: 215px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-right: 48px;
}
@media only screen and (max-width: 991px) {
  .price-page__footer-left {
    max-width: 100%;
    margin-right: 0;
  }
}
.price-page__footer-email {
  margin: 12px 0px;
}
@media only screen and (max-width: 991px) {
  .price-page__footer-email {
    margin: 8px 0px;
  }
}
.price-page__footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 991px) {
  .price-page__footer-copyright {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.price-page__footer-copyright .text-copyright {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .price-page__footer-copyright .text-copyright {
    margin-bottom: 0;
  }
}
.price-page__footer-copyright .ssl-image {
  width: 115px;
  height: 32px;
  flex-shrink: 0;
}
.price-page__footer-right {
  flex-grow: 1;
}
.price-page__footer-right .footer-for-pc {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .price-page__footer-right .footer-for-pc {
    display: none;
  }
}
.price-page__footer-right .footer-for-pc .column {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.price-page__footer-right .footer-for-pc .column__title {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 12px;
}
.price-page__footer-right .footer-for-pc .footer__sub-nav .footer__sub-nav-item {
  margin-bottom: 6px;
}
.price-page__footer-right .footer-for-pc .footer__sub-nav .footer__sub-nav-item:last-child {
  margin-bottom: 0;
}
.price-page__footer-right .footer-for-pc .footer__sub-nav .footer__sub-nav-item a {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.price-page__footer-right .footer-for-pc .footer__sub-nav .footer__sub-nav-item a:hover {
  color: var(--f-1516-e, #F1516E);
}
.price-page__footer-right .footer-for-pc .footer__sub-nav .learn-more a {
  color: var(--f-1516-e, #F1516E);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.price-page__footer-right .footer-for-mobile {
  display: none;
}
@media only screen and (max-width: 991px) {
  .price-page__footer-right .footer-for-mobile {
    display: block;
  }
}
.price-page__footer-right .footer-for-mobile .sub-footer-for-mb {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
.price-page__footer-right .footer-for-mobile .sub-footer-for-mb .sub-footer-for-mb__item a {
  color: var(--3-ac-5-c-9, #3AC5C9);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 16px;
  margin-bottom: 16px;
  display: block;
  width: fit-content;
}
.price-page__footer-right .footer-for-mobile .upcoming-league__title {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  margin-bottom: 12px;
}
.price-page__footer-right .footer-for-mobile .list-upcoming-league {
  display: flex;
  flex-wrap: wrap;
}
.price-page__footer-right .footer-for-mobile .list-upcoming-league .list-upcoming-league__item a {
  color: #FFF;
  font-size: 12px;
  display: block;
  max-width: fit-content;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-right: 16px;
  margin-bottom: 16px;
}
.price-page__footer-right .footer-for-mobile .list-upcoming-league .list-upcoming-league__item a:hover {
  color: var(--3-ac-5-c-9, #3AC5C9);
}

/*# sourceMappingURL=footer.css.map */
