.pricing-page__container {
  background-color: #111;
  position: relative;
  height: auto;
  color: #fff;
}
.pricing-page__detail {
  background-color: #111;
  position: relative;
  height: auto;
  padding: 36px 0px;
}
.pricing-page__detail::before {
  position: absolute;
  top: 100px;
  left: 0;
  content: "";
  width: 100%;
  height: 765px;
  background-image: url("../images/mask-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
@media only screen and (max-width: 991px) {
  .pricing-page__detail::before {
    display: none;
  }
}
.pricing-page__header {
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__header {
    margin-bottom: 16px;
  }
}
.pricing-page__primary-title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .pricing-page__primary-title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.pricing-page__common-title-block {
  display: flex;
  align-items: center;
}
.pricing-page__step-number {
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__step-number {
    margin-right: 12px;
  }
}
.pricing-page__secondary-title {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .pricing-page__secondary-title {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.pricing-page__list-package-wrapper {
  padding: 55px 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #333;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package-wrapper {
    padding: 20px 0px;
    border-bottom: none;
  }
}
.pricing-page__list-package {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .pricing-page__list-package {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .pricing-page__list-package {
    justify-content: center;
  }
}
.pricing-page__list-package .list-package__item {
  max-width: 282px;
  margin-right: 12px;
  background-color: #222;
  padding: 24px;
  height: fit-content;
  position: relative;
}
.pricing-page__list-package .list-package__item:last-child {
  margin-right: 0;
}
@media (max-width: 1350px) {
  .pricing-page__list-package .list-package__item {
    padding: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .list-package__item {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    padding: 8px 20px 16px 20px;
    margin-bottom: 24px;
  }
}
.pricing-page__list-package .list-package__item .check-label-wrapper {
  display: none;
}
.pricing-page__list-package .list-package__item.active {
  border: 1px solid #e92828;
}
.pricing-page__list-package .list-package__item.active .check-label-wrapper {
  display: block;
}
.pricing-page__list-package .list-package__item:hover {
  border: 1px solid #e92828;
}
.pricing-page__list-package .list-package__item.special-package {
  padding-bottom: 48px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .list-package__item.special-package {
    padding-bottom: 16px;
    margin: 12px 0px;
  }
}
.pricing-page__list-package .package-item__spacial-header {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: max-content;
  background: #e92828;
  width: 100%;
  padding: 4px 0px;
  text-align: center;
  color: #f7fafc;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.1px;
}
.pricing-page__list-package .package-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__header {
    margin-bottom: 8px;
  }
}
.pricing-page__list-package .package-item__header .highlight {
  color: #ffb800;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 4px;
}
.pricing-page__list-package .package-item__header .month-label {
  color: var(--gray-100, #f7fafc);
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1300px) {
  .pricing-page__list-package .package-item__header .month-label {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__header .month-label {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.pricing-page__list-package .package-item__header .check-label-wrapper {
  min-width: 22px;
  max-width: 22px;
  height: 22px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__header .check-label-wrapper {
    display: none !important;
  }
}
.pricing-page__list-package .package-item__header .check-label-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.pricing-page__list-package .package-item__middle {
  display: flex;
  align-items: center;
}
.pricing-page__list-package .package-item__middle .prev-price {
  color: var(--gray-400, #cbd5e0);
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
  margin-right: 16px;
}
@media (max-width: 1350px) {
  .pricing-page__list-package .package-item__middle .prev-price {
    font-size: 16px;
  }
}
.pricing-page__list-package .package-item__middle .save-label {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1350px) {
  .pricing-page__list-package .package-item__middle .save-label {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__middle .save-label {
    color: #f53434;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 2px 10px;
    border: 1px solid #f53434;
    position: absolute;
    border-radius: 20px;
    border: 1px solid #f53434;
    top: 12px;
    right: 30px;
  }
}
.pricing-page__list-package .package-item__footer {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.pricing-page__list-package .package-item__footer .btn-get-plan {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1300px) {
  .pricing-page__list-package .package-item__footer .btn-get-plan {
    font-size: 14px;
    padding: 8px 0px;
  }
}
.pricing-page__list-package .package-item__footer .btn-get-plan:focus {
  outline: none;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__footer .btn-get-plan {
    width: fit-content;
    padding: 10px 24px;
  }
}
.pricing-page__list-package .package-item__footer .btn-default {
  background-color: #444;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__footer .btn-default {
    color: rgba(255, 255, 255, 0.5);
  }
}
.pricing-page__list-package .package-item__footer .btn-active {
  background: linear-gradient(107deg, #002672 0%, #f53434 100%);
}
.pricing-page__list-package .package-item__footer .text-for-pc {
  display: block;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__footer .text-for-pc {
    display: none;
  }
}
.pricing-page__list-package .package-item__footer .text-for-mb {
  display: none;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__footer .text-for-mb {
    display: block;
  }
}
.pricing-page__list-package .package-item__primary-price {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__primary-price {
    margin-bottom: 0;
  }
}
.pricing-page__list-package .package-item__primary-price .sign-dollar {
  color: #f53434;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 4px;
}
.pricing-page__list-package .package-item__primary-price .primary-price {
  color: #f53434;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 6px;
}
@media (max-width: 1300px) {
  .pricing-page__list-package .package-item__primary-price .primary-price {
    color: #f53434;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.pricing-page__list-package .package-item__primary-price .sign-month {
  color: var(--gray-100, #f7fafc);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pricing-page__list-package .package-item__list-feature {
  margin-top: 32px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-package .package-item__list-feature {
    margin-top: 12px;
  }
}
.pricing-page__list-package .package-item__list-feature .list-feature__item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.pricing-page__list-package .package-item__list-feature .icon-check {
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  object-fit: cover;
  margin-right: 8px;
}
.pricing-page__list-package .package-item__list-feature .feature-text {
  color: var(--gray-400, #cbd5e0);
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 175px;
}
.pricing-page__package-description {
  margin-top: 32px;
}
.pricing-page__package-description .text {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .pricing-page__package-description {
    display: none;
  }
}
.pricing-page__method-payment {
  padding: 16px 0px;
}
.pricing-page__secure-checkout {
  display: none;
  width: 100%;
  margin-top: 12px;
  align-items: center;
}
.pricing-page__secure-checkout .secure-checkout__icon {
  min-width: 22px;
  max-width: 22px;
  height: 22px;
  margin-right: 10px;
}
.pricing-page__secure-checkout .secure-checkout__title {
  color: #f53434;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}
.pricing-page__secure-checkout .secure-checkout__description {
  color: var(--ffffff, #fff);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .pricing-page__secure-checkout {
    display: flex;
  }
}
.pricing-page__method-content {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__method-content {
    flex-direction: column;
    margin-top: 12px;
  }
}
.pricing-page__method-content-left {
  flex-grow: 1;
}
@media only screen and (max-width: 991px) {
  .pricing-page__method-content-left {
    width: 100%;
  }
}
.pricing-page__method-content-right {
  min-width: 385px;
  max-width: 385px;
  min-height: max-content;
  margin-left: 24px;
  padding: 16px;
  background-image: url("../images/mask-football-background.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .pricing-page__method-content-right {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-top: 24px;
    padding: 8px;
  }
}
.pricing-page__method-content-right .vip-benefit-title {
  color: #fff;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__method-content-right .vip-benefit-title {
    font-size: 14px;
  }
}
.pricing-page__method-content-right .list-benefit__item {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  padding: 24px 16px;
  background: rgba(255, 255, 255, 0.05);
}
@media only screen and (max-width: 991px) {
  .pricing-page__method-content-right .list-benefit__item {
    padding: 16px 12px;
  }
}
.pricing-page__method-content-right .list-benefit__item:last-child {
  margin-bottom: 0;
}
.pricing-page__method-content-right .list-benefit__item .icon-benefit {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__method-content-right .list-benefit__item .icon-benefit {
    margin-right: 8px;
  }
}
.pricing-page__method-content-right .list-benefit__item .text-benefit-description {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .pricing-page__method-content-right .list-benefit__item .text-benefit-description {
    font-size: 14px;
  }
}
.pricing-page__method-content-right .list-benefit__item.active .text-benefit-description {
  font-weight: 600;
  color: #f53434 !important;
}
.pricing-page__list-method-payment {
  width: 100%;
  height: fit-content;
}
.pricing-page__list-method-payment .list-method-payment__item {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  height: fit-content;
  padding: 20px 16px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-method-payment .list-method-payment__item {
    margin-bottom: 12px;
    padding: 8px 12px;
  }
}
.pricing-page__list-method-payment .list-method-payment__item:last-child {
  margin-bottom: 0;
}
.pricing-page__list-method-payment .list-method-payment__item .control-selected {
  position: relative;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 16px;
}
.pricing-page__list-method-payment .list-method-payment__item .control-selected .icon-unchecked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
}
.pricing-page__list-method-payment .list-method-payment__item .control-selected .icon-checked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.pricing-page__list-method-payment .list-method-payment__item.selected, .pricing-page__list-method-payment .list-method-payment__item:hover {
  border: 1px solid #f53434;
  cursor: pointer;
  background: rgba(245, 52, 52, 0.05);
}
.pricing-page__list-method-payment .list-method-payment__item.selected .control-selected .icon-checked {
  display: block;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail {
    flex-direction: column;
    align-items: flex-start;
  }
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .middle-info {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .middle-info {
    margin-bottom: 6px;
    margin-right: 0;
  }
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .method-name {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .method-name {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 6px;
  }
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .recommend-wrapper {
  display: flex;
  align-items: center;
  padding: 3px 8px;
  border-radius: 8px;
  background: var(--fdc-400, #fdc400);
  margin-right: 6px;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .recommend-wrapper .recommend-text {
  color: #0f172a;
  margin-left: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .label-discount {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 3px 8px;
  border-radius: 8px;
  background: #f53434;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list {
  display: flex;
  align-items: center;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list .payment-type__item {
  width: fit-content;
  margin-right: 4px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding: 1px 10px;
  min-width: 40px;
  background-color: #fff;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list .payment-type__item:last-child {
  margin-right: 0;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list .payment-type__item .type-image {
  object-fit: cover;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list .payment-type__item .credit-method {
  width: 21.667px;
  height: 18.333px;
  flex-shrink: 0;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list .payment-type__item .viva-method {
  width: 30.843px;
  height: 10px;
  flex-shrink: 0;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list .payment-type__item .jcb-method {
  width: 18.333px;
  height: 18.333px;
  flex-shrink: 0;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list .payment-type__item .union-method {
  width: 21.333px;
  height: 13.333px;
  flex-shrink: 0;
}
.pricing-page__list-method-payment .list-method-payment__item .method-payment__info-detail .payment-type__list .payment-type__item .icon-16 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.pricing-page__statical-method {
  padding: 24px;
  border: 1px solid #383838;
  background: #222;
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .pricing-page__statical-method {
    border: none;
    padding: 0;
    margin: 16px 0px;
    padding: 0px 10px;
    background-color: transparent;
  }
}
.pricing-page__statical-method .column-50 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .pricing-page__statical-method .right-column {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-page__statical-method .left-column {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-page__statical-method {
    padding: 0;
  }
}
.pricing-page__statical-method .money-back-image {
  width: 150px;
  height: 158.789px;
  flex-shrink: 0;
}
.pricing-page__statical-method .statical__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #383838;
}
@media only screen and (max-width: 991px) {
  .pricing-page__statical-method .statical__row {
    font-size: 15px;
    padding: 16px 4px;
  }
}
.pricing-page__statical-method .link-coupon-code {
  margin-top: 14px;
  color: #f53434;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 100%;
  display: block;
}
.pricing-page__statical-method .statical__value {
  display: flex;
  align-items: center;
  color: var(--ffffff, #fff);
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .pricing-page__statical-method .statical__value {
    font-size: 15px;
  }
}
.pricing-page__statical-method .text-line-through {
  color: var(--gray-600, #718096);
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__statical-method .text-line-through {
    font-size: 15px;
  }
}
.pricing-page__statical-method .text-total {
  color: #f53434;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.pricing-page__register-form {
  margin-top: 24px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .pricing-page__register-form {
    margin-top: 16px;
  }
}
.pricing-page__register-form .register-form__header {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .pricing-page__register-form .register-form__header {
    flex-direction: column;
  }
}
.pricing-page__register-form .register-form__header .form-group-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.pricing-page__register-form .register-form__header .form-group-item:first-child {
  margin-right: 24px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__register-form .register-form__header .form-group-item:first-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-page__register-form .register-form__header .form-group-item {
    width: 100%;
    margin-bottom: 12px;
  }
}
.pricing-page__register-form .register-form__header .form-group-item label {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.pricing-page__register-form .register-form__header .form-group-item input {
  display: block;
  width: 100%;
  outline: none;
  padding: 10px 16px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
}
.pricing-page__register-form .register-form__header .form-group-item input:focus {
  outline: none;
}
.pricing-page__register-form .register-form__header .form-group-item input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pricing-page__register-form .register-form__middle {
  margin: 16px 0px 24px;
  display: flex;
  align-items: center;
}
.pricing-page__register-form .register-form__middle .sign-up-viva-title {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-right: 12px;
  line-height: normal;
}
.pricing-page__register-form .register-form__middle .list-register-with-viva {
  display: flex;
  align-items: center;
}
.pricing-page__register-form .register-form__middle .list-register-with-viva .link-item {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-right: 12px;
}
.pricing-page__register-form .register-form__middle .list-register-with-viva .link-item:last-child {
  margin-right: 0;
}
.pricing-page__register-form .register-form__middle .list-register-with-viva .link-item .viva-image {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.pricing-page__register-form .register-form__footer {
  margin-bottom: 20px;
}
.pricing-page__register-form .register-form__footer .btn-payment-now {
  min-width: 336px;
  text-align: center;
  padding: 14px 0px;
  color: var(--ffffff, #fff);
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  background: linear-gradient(107deg, #002672 0%, #f53434 100%);
}
@media only screen and (max-width: 991px) {
  .pricing-page__register-form .register-form__footer .btn-payment-now {
    display: block;
    min-width: 100%;
    max-width: 100%;
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-page__register-form .register-form__footer .privacy-and-terms-block {
    display: flex;
    justify-content: center;
  }
}
.pricing-page__register-form .register-form__footer .privacy-and-terms-block__text {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .pricing-page__register-form .register-form__footer .privacy-and-terms-block__text {
    text-align: center;
    max-width: 270px;
  }
}
.pricing-page__register-form .register-form__footer .privacy-and-terms-block__link {
  color: #f53434;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pricing-page__register-form .register-form__footer .secure-and-encrypted__block {
  margin: 12px 0px;
  display: none;
  align-items: center;
}
.pricing-page__register-form .register-form__footer .secure-and-encrypted__block .icon-lock {
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  margin-right: 6px;
}
.pricing-page__register-form .register-form__footer .secure-and-encrypted__block .secure-and-encrypted__text {
  color: var(--gray-600, #718096);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .pricing-page__register-form .register-form__footer .secure-and-encrypted__block {
    display: flex;
  }
}
.pricing-page__tournaments {
  width: 100%;
  padding: 64px 0px;
  background-color: rgba(0, 38, 114, 0.1);
}
@media only screen and (max-width: 991px) {
  .pricing-page__tournaments {
    padding: 0px 0px 40px 0px;
  }
}
.pricing-page__tournaments .tournament-block__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-page__tournaments .tournament-block__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__tournaments .tournament-block__title {
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
    max-width: 285px;
  }
}
.pricing-page__tournaments .tournament-block__description {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pricing-page__tournaments .tournament-block__header {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .pricing-page__tournaments .tournament-block__header {
    margin-bottom: 16px;
  }
}
.pricing-page__tournaments .tournament-block__list {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .pricing-page__tournaments .tournament-block__list {
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 8px;
  }
}
.pricing-page__tournaments .tournament-block__list-row {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__tournaments .tournament-block__list-row {
    justify-content: flex-start;
    margin-bottom: 16px;
  }
}
.pricing-page__tournaments .tournament-block__list-row .list-sport__item {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}
.pricing-page__tournaments .tournament-block__list-row .list-sport__item:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 991px) {
  .pricing-page__tournaments .tournament-block__list-row .list-sport__item {
    min-width: 70px;
    max-width: 70px;
    height: 70px;
  }
}
.pricing-page__tournaments .tournament-block__list-row .list-sport__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.pricing-page__livestreaming-service {
  width: 100%;
  background-color: #222;
  padding: 60px 0px 70px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service {
    padding: 24px 0px 40px;
  }
}
.pricing-page__livestreaming-service .btn-get-plan {
  display: block;
  margin: 90px auto 0px;
  width: fit-content;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 68px;
  border-radius: 8px;
  background: #002672;
  text-decoration: none;
  border: none;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .btn-get-plan {
    margin: 16px auto 0px;
    background-color: #3ac5c9;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__money-back {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__money-back {
    display: flex;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__money-back .money-back__image {
  width: 125.063px;
  height: 146.086px;
  flex-shrink: 0;
}
.pricing-page__livestreaming-service .livestreaming-service__money-back .money-back__title {
  color: var(--ffffff, #fff);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 24px 0px 12px;
}
.pricing-page__livestreaming-service .livestreaming-service__money-back .money-back__description {
  color: var(--ffffff, #fff);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  max-width: 300px;
  line-height: 20px; /* 153.846% */
}
.pricing-page__livestreaming-service .livestreaming-service__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__left {
  max-width: 500px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__left {
    max-width: 100%;
    margin-top: 16px;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__right {
  width: fit-content;
}
.pricing-page__livestreaming-service .livestreaming-service__right .livestreaming-service-image {
  min-width: 526.003px;
  max-width: 526.003px;
  height: 340.037px;
  flex-shrink: 0;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__right .livestreaming-service-image {
    min-width: 100%;
    max-width: 100%;
    height: 254px;
    object-fit: cover;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__header-content {
  margin-bottom: 24px;
}
.pricing-page__livestreaming-service .livestreaming-service__title {
  color: var(--ffffff, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__title {
    color: var(--ffffff, #fff);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
    max-width: 100%;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__description {
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__description {
    color: var(--ffffff, #fff);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    max-width: 300px;
    margin: auto;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__list-number {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pricing-page__livestreaming-service .livestreaming-service__list-number .number-item {
  width: 50%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__list-number .number-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__list-number .number-item__title {
  color: var(--ffffff, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__list-number .number-item__title {
    font-size: 13px;
  }
}
.pricing-page__livestreaming-service .livestreaming-service__list-number .number-item__value {
  color: #104fcd;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__list-number .number-item__value {
    font-size: 32px;
    color: #3ac5c9;
  }
}
@media only screen and (max-width: 991px) {
  .pricing-page__livestreaming-service .livestreaming-service__list-number .number-item:first-child .number-item__title, .pricing-page__livestreaming-service .livestreaming-service__list-number .number-item:nth-child(2) .number-item__title {
    max-width: 100px;
    text-align: center;
  }
}

.price-popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.price-popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .price-popup__close {
    top: 8px;
    right: 8px;
  }
}
.price-popup__close img {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
}

.price-popup__body {
  position: relative;
  max-width: 670px;
  min-width: 670px;
  background: #ffffff;
  border: 10px solid #002672;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 65px 0px;
}
@media only screen and (max-width: 991px) {
  .price-popup__body {
    min-width: 100%;
    max-width: 100%;
    border: 5px solid #002672;
    padding: 30px 0px;
  }
}

.price-popup--show {
  z-index: 100;
  opacity: 1;
}

.price-popup-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a202c;
}

.price-popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price-popup-sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #1a202c;
  display: block;
  margin: 12px 0px;
  text-transform: uppercase;
}

.price-popup-content__detail {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #1a202c;
  margin-bottom: 16px;
}
.price-popup-content__detail:last-of-type {
  margin-bottom: 32px;
}
@media only screen and (max-width: 991px) {
  .price-popup-content__detail {
    font-size: 24px;
    list-style: 32px;
  }
}
.price-popup-content__detail .prefix_label {
  color: #1a202c;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
}
.price-popup-content__detail .shadow-content-wrapper {
  position: relative;
  top: 5px;
  left: 0;
  margin-left: 16px;
}
.price-popup-content__detail .box-shadow {
  width: 232px;
  height: 23px;
  border: none;
  position: absolute;
  bottom: 0;
  right: -5px;
}
@media only screen and (max-width: 991px) {
  .price-popup-content__detail .box-shadow {
    width: 162px;
  }
}
.price-popup-content__detail .success-text {
  color: #18b745;
}
.price-popup-content__detail .primary-text {
  color: #e34b31;
}
.price-popup-content__detail .green-shadow {
  background: rgba(24, 183, 69, 0.15);
}
.price-popup-content__detail .red-shadow {
  background: #e34b31;
  opacity: 0.15;
}

.price-popup-content__btn {
  min-width: 215px;
  max-width: 215px;
  height: auto;
  padding: 12px 0px;
  margin-top: 12px;
  text-align: center;
  background: #e34b31;
  border-radius: 7px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
}
.price-popup-content__btn:focus {
  outline: none;
}
.price-popup-content__btn:hover {
  opacity: 0.8;
}

.price-popup-content__countdown {
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 22px;
  border-top: 1px solid #e2e8f0;
  padding-top: 12px;
}
@media only screen and (max-width: 991px) {
  .price-popup-content__countdown {
    max-width: 80%;
  }
}
.price-popup-content__countdown .countdown__title {
  font-style: normal;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a202c;
  display: block;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .price-popup-content__countdown .countdown__title {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
  }
}
.price-popup-content__countdown .list__countdown {
  display: flex;
  gap: 24px;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .price-popup-content__countdown .list__countdown {
    gap: 0px;
  }
}
.price-popup-content__countdown .list__countdown .list__countdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  max-width: max-content;
}
@media only screen and (max-width: 991px) {
  .price-popup-content__countdown .list__countdown .list__countdown-item {
    min-width: 55px;
    max-width: 55px;
  }
}
.price-popup-content__countdown .list__countdown .list__countdown-item .time {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  background: #002672;
  border-radius: 100px;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .price-popup-content__countdown .list__countdown .list__countdown-item .time {
    width: 32px;
    height: 32px;
    font-size: 14px;
    line-height: 21px;
  }
}
.price-popup-content__countdown .list__countdown .list__countdown-item .label {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  /* Gray:900 */
  color: #1a202c;
}
@media only screen and (max-width: 991px) {
  .price-popup-content__countdown {
    margin-top: 24px;
  }
}

.payment-page-container {
  padding: 36px 0px;
  background-color: #111;
  position: relative;
  height: auto;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .payment-page-container {
    padding: 24px 0px;
  }
}

.payment-page__content-detail-wrapper {
  background-color: #111;
  position: relative;
  height: auto;
}
.payment-page__content-detail-wrapper::before {
  position: absolute;
  top: 100px;
  left: 0;
  content: "";
  width: 100%;
  height: 765px;
  background-image: url("../images/mask-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
@media only screen and (max-width: 991px) {
  .payment-page__content-detail-wrapper::before {
    display: none;
  }
}
.payment-page__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-page__header-left {
  width: fit-content;
}
@media only screen and (max-width: 991px) {
  .payment-page__header-left {
    margin-right: 16px;
  }
}
.payment-page__header-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .payment-page__header-title {
    font-size: 22px;
  }
}
.payment-page__header-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
}
.payment-page__header-right .base-timer {
  position: relative;
  width: 56px;
  height: 56px;
}
.payment-page__header-right .base-timer__svg {
  transform: scaleX(-1);
}
.payment-page__header-right .base-timer__circle {
  fill: none;
  stroke: none;
}
.payment-page__header-right .base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: #cbd5e0;
}
.payment-page__header-right .base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}
.payment-page__header-right .base-timer__path-remaining.green {
  color: #4a5568;
}
.payment-page__header-right .base-timer__path-remaining.orange {
  color: #4a5568;
}
.payment-page__header-right .base-timer__path-remaining.red {
  color: #4a5568;
}
.payment-page__header-right .base-timer__label {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* Gray:900 */
  color: #fff;
}
.payment-page__intro {
  align-items: center;
  background: rgba(249, 188, 30, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 16px 0 50px;
  padding: 10px 16px;
  width: 100%;
}
.payment-page__intro .icon-info {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 8px;
}
.payment-page__intro .intro-text {
  color: #f9bc1e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
}
.payment-page__middle-block {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .payment-page__middle-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.payment-page__middle-left {
  padding: 15px;
  margin: 0px 40px;
}
.payment-page__middle-left .qr-image {
  min-width: 215px;
  max-width: 215px;
  height: 215px;
  background: #fff;
}
@media only screen and (max-width: 991px) {
  .payment-page__middle-left {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.payment-page__middle-right {
  flex-grow: 1;
  height: fit-content;
}
.payment-page__middle-right .block-value-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  margin-bottom: 32px;
}
.payment-page__middle-right .block-value-item:last-child {
  margin-bottom: 0;
}
.payment-page__middle-right .block-value-item .left-block {
  margin-right: 12px;
}
.payment-page__middle-right .block-value-item .label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  display: inline-block;
  margin-bottom: 4px;
}
.payment-page__middle-right .block-value-item .value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
.payment-page__middle-right .block-value-item .btn-copy {
  background-color: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f91e4e;
  cursor: pointer;
  border: none;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .payment-page__middle-right .block-value-item .btn-copy {
    font-size: 14px;
  }
}
.payment-page__footer-block {
  width: 100%;
  margin: 36px 0px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .payment-page__footer-block {
    padding: 24px;
  }
}
.payment-page__footer-block-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .payment-page__footer-block-title {
    font-size: 18px;
  }
}
.payment-page__footer-block-description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin: 8px 0px 16px;
}
.payment-page__footer-block .input-text {
  display: block;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  /* Gray:400 */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* Gray:600 */
  color: #fff;
}
.payment-page__footer-block .input-text::placeholder {
  color: #718096;
}
.payment-page__footer-block .input-text:focus {
  outline: none;
}
@media only screen and (max-width: 991px) {
  .payment-page__footer-block .input-text {
    padding: 6px 8px;
  }
}
.payment-page__footer-block .d-flex {
  display: flex;
}
.payment-page__footer-block .justify-end {
  justify-content: flex-end;
}
.payment-page__footer-block-input-file {
  margin-top: 16px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .payment-page__footer-block-input-file {
    margin-bottom: 16px;
  }
}
.payment-page__footer-block-input-file input[type=file] {
  display: none;
}
.payment-page__footer-block-input-file .input-file-label {
  border: 1px solid #f91e4e;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #f91e4e;
}
@media only screen and (max-width: 991px) {
  .payment-page__footer-block-input-file .input-file-label {
    padding: 6px 24px;
  }
}
.payment-page__footer-block-btn-submit {
  background: #f91e4e;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  min-width: 200px;
  outline: none;
  padding: 10px 0;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .payment-page__footer-block-btn-submit {
    padding: 6px 0px;
  }
}

/*# sourceMappingURL=price.css.map */
