@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: $font_main;
  font-size: 14px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a,
button,
.btn {
  transition: all 0.4s ease;
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.list-style-none {
  list-style: none !important;
}
h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin:0;
  padding: 0;;
}

// header-style
.header {
  background-color: #E92828;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(max_md) {
    display: block;
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 4px solid transparent;
  margin-right: 32px;

  @media (max-width: 1200px) {
    font-size: 16px;
    margin-right: 24px;
    padding-bottom: 6px;
    border-bottom: 3px solid transparent;
  }
}


.header  {
  .header-btn {
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-right: 12px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .btn-sign-in {
    border: none;
    background-color: #EA021A;
  }

  .btn-sign-up {
    background-color: transparent;
    border: 1px solid #fff;
  }
}
.header .nav .active {
  a {
    border-bottom: 4px solid #fff;
  }
}

.header li a:hover,
.header .nav-btn:hover {
  border-bottom: 4px solid #fff;;

   @media (max-width: 1200px)  {
     border-bottom: 3px solid #fff;;
   }
}

.header .logo {
  display: block;
  float: left;
  width: fit-content;
  height: 72px;
  text-decoration: none;

  @include mq(max_md) {
    height: 44px;;
  }
  img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}

/* nav */
.header .nav {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding-right: 40px;
  display: flex;
  align-items: center;

  @include mq(max_md) {
    padding-right: 24px;;
  }
}

.header .nav-icon {
  cursor: pointer;
  float: right;
  position: absolute;
  top: 10px;
  right: 12px;
  user-select: none;
}

.header .nav-icon .nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .nav-icon .nav-icon:before,
.header .nav-icon .nav-icon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .nav-icon .nav-icon:before {
  top: 5px;
}
.header .nav-icon .nav-icon:after {
  top: -5px;
}

/* nav btn */

.header .nav-btn {
  display: none;
}

// style nav mobile.
.header .nav-btn:checked ~ .nav {
  max-height: fit-content;
}

.header .nav-btn:checked ~ .nav-icon .nav-icon {
  background: transparent;
}

.header .nav-btn:checked ~ .nav-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .nav-btn:checked ~ .nav-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 1200px) {
  .header li {
    float: left;
  }
  .header li a {
    // padding: 20px 30px;
  }
  .header .nav {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .nav-icon {
    display: none;
  }
}



// style  sub menu
.list-sport {
  &__wrapper {
    width: 100%;
    height: auto;
    background: linear-gradient(107deg, #0639A0 0%, #AF2626 100%);
  }
}