@charset "utf-8";
@import "variables";
@import "mixins";

.pricing-page {
  &__container {
    background-color: #111;
    position: relative;
    height: auto;
    color: #fff;
  }

  &__detail {
    background-color: #111;
    position: relative;
    height: auto;
    padding: 36px 0px;

    &::before {
      position: absolute;
      top: 100px;
      left: 0;
      content: "";
      width: 100%;
      height: 765px;
      background-image: url("../images/mask-background.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;

      @include mq(max_md) {
        display: none;
      }
    }
  }

  &__header {
    margin-bottom: 24px;
    @include mq(max_md) {
      margin-bottom: 16px;
    }
  }

  &__primary-title {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include mq(max_md) {
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__common-title-block {
    display: flex;
    align-items: center;
  }

  &__step-number {
    min-width: 36px;
    max-width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-right: 16px;

    @include mq(max_md) {
      margin-right: 12px;
    }
  }

  &__secondary-title {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include mq(max_md) {
      color: #fff;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__list-package-wrapper {
    padding: 55px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #333;

    @include mq(max_md) {
      padding: 20px 0px;
      border-bottom: none;
    }
  }

  &__list-package {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 1300px) {
      justify-content: flex-start;
    }

    @include mq(max_sm) {
      justify-content: center;
    }
    .list-package {
      &__item {
        max-width: 282px;
        margin-right: 12px;
        background-color: #222;
        padding: 24px;
        height: fit-content;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        @media (max-width: 1350px) {
          padding: 12px;
        }
        @include mq(max_md) {
          min-width: 100%;
          max-width: 100%;
          margin-right: 0;
          padding: 8px 20px 16px 20px;
          margin-bottom: 24px;
        }

        .check-label-wrapper {
          display: none;
        }

        &.active {
          border: 1px solid #e92828;
          .check-label-wrapper {
            display: block;
          }
        }

        &:hover {
          border: 1px solid #e92828;
        }

        &.special-package {
          padding-bottom: 48px;

          @include mq(max_md) {
            padding-bottom: 16px;
            margin: 12px 0px;
          }
        }
      }
    }

    .package-item {
      &__spacial-header {
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: max-content;
        background: #e92828;
        width: 100%;
        padding: 4px 0px;
        text-align: center;
        color: #f7fafc;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.1px;
      }
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        @include mq(max_md) {
          margin-bottom: 8px;
        }

        .highlight {
          color: #ffb800;
          font-family: Poppins;
          font-size: 19px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-left: 4px;
        }

        .month-label {
          color: var(--gray-100, #f7fafc);
          font-family: Poppins;
          font-size: 19px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          @media (max-width: 1300px) {
            font-size: 16px;
          }

          @include mq(max_md) {
            color: #fff;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        .check-label-wrapper {
          min-width: 22px;
          max-width: 22px;
          height: 22px;

          @include mq(max_md) {
            display: none !important;
          }

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }

      &__middle {
        display: flex;
        align-items: center;

        .prev-price {
          color: var(--gray-400, #cbd5e0);
          text-align: center;
          font-family: Poppins;
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: line-through;
          margin-right: 16px;

          @media (max-width: 1350px) {
            font-size: 16px;
          }
        }

        .save-label {
          color: #fff;
          text-align: center;
          font-family: Poppins;
          font-size: 19px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          @media (max-width: 1350px) {
            font-size: 16px;
          }

          @include mq(max_md) {
            color: #f53434;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 2px 10px;
            border: 1px solid #f53434;
            position: absolute;
            border-radius: 20px;
            border: 1px solid #f53434;
            top: 12px;
            right: 30px;
          }
        }
      }

      &__footer {
        display: flex;
        flex-direction: column;

        @include mq(max_md) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }

        .btn-get-plan {
          width: 100%;
          padding: 10px 0px;
          text-align: center;
          border: none;
          background-color: transparent;
          outline: none;
          color: #fff;
          text-align: center;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          @media (max-width: 1300px) {
            font-size: 14px;
            padding: 8px 0px;
          }

          &:focus {
            outline: none;
            color: #fff;
          }

          @include mq(max_md) {
            width: fit-content;
            padding: 10px 24px;
          }
        }

        .btn-default {
          background-color: #444;

          @include mq(max_md) {
            color: rgba(255, 255, 255, 0.5);
          }
        }
        .btn-active {
          background: linear-gradient(107deg, #002672 0%, #f53434 100%);
        }

        .text-for-pc {
          display: block;

          @include mq(max_md) {
            display: none;
          }
        }
        .text-for-mb {
          display: none;

          @include mq(max_md) {
            display: block;
          }
        }
      }
      &__primary-price {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        @include mq(max_md) {
          margin-bottom: 0;
        }
        .sign-dollar {
          color: #f53434;
          text-align: center;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-right: 4px;

          @media (max-width: 1300px) {
          }
        }

        .primary-price {
          color: #f53434;
          text-align: center;
          font-size: 56px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-right: 6px;

          @media (max-width: 1300px) {
            color: #f53434;
            font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        .sign-month {
          color: var(--gray-100, #f7fafc);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      &__list-feature {
        margin-top: 32px;
        @include mq(max_md) {
          margin-top: 12px;
        }

        .list-feature__item {
          display: flex;
          align-items: center;
          margin-bottom: 3px;
        }

        .icon-check {
          min-width: 12px;
          max-width: 12px;
          height: 12px;
          object-fit: cover;
          margin-right: 8px;
        }

        .feature-text {
          color: var(--gray-400, #cbd5e0);
          font-family: Poppins;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          max-width: 175px;
        }
      }
    }
  }
  &__package-description {
    margin-top: 32px;

    .text {
      color: #fff;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    @include mq(max_md) {
      display: none;
    }
  }

  &__method-payment {
    padding: 16px 0px;
  }

  &__secure-checkout {
    display: none;
    width: 100%;
    margin-top: 12px;
    align-items: center;

    .secure-checkout {
      &__icon {
        min-width: 22px;
        max-width: 22px;
        height: 22px;
        margin-right: 10px;
      }

      &__detail {
      }

      &__title {
        color: #f53434;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 4px;
      }

      &__description {
        color: var(--ffffff, #fff);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        padding: 0;
      }
    }

    @include mq(max_md) {
      display: flex;
    }
  }
  &__method-content {
    display: flex;
    align-items: center;
    margin-top: 32px;

    @include mq(max_md) {
      flex-direction: column;
      margin-top: 12px;
    }
  }

  &__method-content-left {
    flex-grow: 1;
    @include mq(max_md) {
      width: 100%;
    }
  }

  &__method-content-right {
    min-width: 385px;
    max-width: 385px;
    min-height: max-content;
    margin-left: 24px;
    padding: 16px;
    background-image: url("../images/mask-football-background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mq(max_md) {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 24px;
      padding: 8px;
    }

    .vip-benefit-title {
      color: #fff;
      font-family: Poppins;
      font-size: 19px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 12px;

      @include mq(max_md) {
        font-size: 14px;
      }
    }

    .list-benefit__item {
      width: 100%;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      padding: 24px 16px;
      background: rgba(255, 255, 255, 0.05);

      @include mq(max_md) {
        padding: 16px 12px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .icon-benefit {
        min-width: 24px;
        max-width: 24px;
        height: 24px;
        object-fit: cover;
        margin-right: 16px;

        @include mq(max_md) {
          margin-right: 8px;
        }
      }

      .text-benefit-description {
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include mq(max_md) {
          font-size: 14px;
        }
      }
      &.active {
        .text-benefit-description {
          font-weight: 600;
          color: #f53434 !important;
        }
      }
    }
  }

  &__list-method-payment {
    width: 100%;
    height: fit-content;
    .list-method-payment__item {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.05);
      color: #fff;
      height: fit-content;
      padding: 20px 16px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      @include mq(max_md) {
        margin-bottom: 12px;
        padding: 8px 12px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .control-selected {
        position: relative;
        min-width: 24px;
        max-width: 24px;
        height: 24px;
        margin-right: 16px;

        .icon-unchecked {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid #fff;
          border-radius: 50%;
        }

        .icon-checked {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
        }
      }

      &.selected,
      &:hover {
        border: 1px solid #f53434;
        cursor: pointer;
        background: rgba(245, 52, 52, 0.05);
      }

      &.selected {
        .control-selected {
          .icon-checked {
            display: block;
          }
        }
      }

      .method-payment__info-detail {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include mq(max_md) {
          flex-direction: column;
          align-items: flex-start;
        }

        .middle-info {
          display: flex;
          align-items: center;
          margin-right: 16px;

          @include mq(max_md) {
            margin-bottom: 6px;
            margin-right: 0;
          }
        }
        .method-name {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-right: 16px;

          @include mq(max_md) {
            font-size: 14px;
            margin-right: 0;
            margin-bottom: 6px;
          }
        }

        .recommend-wrapper {
          display: flex;
          align-items: center;
          padding: 3px 8px;
          border-radius: 8px;
          background: var(--fdc-400, #fdc400);
          margin-right: 6px;

          .recommend-text {
            color: #0f172a;
            margin-left: 4px;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        .label-discount {
          color: #fff;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 3px 8px;
          border-radius: 8px;
          background: #f53434;
        }

        .payment-type__list {
          display: flex;
          align-items: center;

          .payment-type__item {
            width: fit-content;
            margin-right: 4px;
            border: 1px solid #e2e8f0;
            border-radius: 6px;
            padding: 1px 10px;
            min-width: 40px;
            background-color: #fff;

            &:last-child {
              margin-right: 0;
            }

            .type-image {
              object-fit: cover;
            }

            .credit-method {
              width: 21.667px;
              height: 18.333px;
              flex-shrink: 0;
            }
            .viva-method {
              width: 30.843px;
              height: 10px;
              flex-shrink: 0;
            }
            .jcb-method {
              width: 18.333px;
              height: 18.333px;
              flex-shrink: 0;
            }
            .union-method {
              width: 21.333px;
              height: 13.333px;
              flex-shrink: 0;
            }

            .icon-16 {
              width: 16px;
              height: 16px;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }

  &__statical-method {
    padding: 24px;
    border: 1px solid #383838;
    background: #222;
    width: 100%;
    display: flex;
    margin-top: 24px;;

    @include mq(max_md) {
      border: none;
      padding: 0;
      margin: 16px 0px;
      padding: 0px 10px;
      background-color: transparent;
    }

    .column-50 {
      width: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .right-column {
      @include mq(max_md) {
        display: none;
      }
    }

    .left-column {
      @include mq(max_md) {
        width: 100%;
      }
    }
    @include mq(max_md) {
      padding: 0;
    }

    .money-back-image {
      width: 150px;
      height: 158.789px;
      flex-shrink: 0;
    }

    .statical__row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px 0px;
      border-bottom: 1px solid #383838;
      @include mq(max_md) {
        font-size: 15px;
        padding: 16px 4px;
      }
    }
    .link-coupon-code {
      margin-top: 14px;
      color: #f53434;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      width: 100%;
      display: block;
    }

    .statical__value {
      display: flex;
      align-items: center;
      color: var(--ffffff, #fff);
      text-align: right;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @include mq(max_md) {
        font-size: 15px;
      }
    }

    .text-line-through {
      color: var(--gray-600, #718096);
      text-align: right;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: line-through;
      margin-right: 8px;
      @include mq(max_md) {
        font-size: 15px;
      }
    }

    .text-total {
      color: #f53434;
      text-align: right;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__register-form {
    margin-top: 24px;
    width: 100%;

    @include mq(max_md) {
      margin-top: 16px;
    }

    .register-form {
      &__header {
        display: flex;
        align-items: center;

        @include mq(max_md) {
          flex-direction: column;
        }

        .form-group-item {
          display: flex;
          flex-grow: 1;
          flex-direction: column;

          &:first-child {
            margin-right: 24px;
            @include mq(max_md) {
              margin-right: 0;
            }
          }
          @include mq(max_md) {
            width: 100%;
            margin-bottom: 12px;
          }

          label {
            color: #fff;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 8px;
          }

          input {
            display: block;
            width: 100%;
            outline: none;
            padding: 10px 16px;
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            background-color: rgba(255, 255, 255, 0.05);
            outline: none;
            &:focus {
              outline: none;
            }

            &::placeholder {
              color: rgba(255, 255, 255, 0.5);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }

      &__middle {
        margin: 16px 0px 24px;
        display: flex;
        align-items: center;

        .sign-up-viva-title {
          color: #fff;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          margin-right: 12px;
          line-height: normal;
        }

        .list-register-with-viva {
          display: flex;
          align-items: center;

          .link-item {
            display: block;
            width: fit-content;
            height: fit-content;
            margin-right: 12px;

            &:last-child {
              margin-right: 0;
            }

            .viva-image {
              min-width: 32px;
              max-width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }

      &__footer {
        margin-bottom: 20px;

        .btn-payment-now {
          min-width: 336px;
          text-align: center;
          padding: 14px 0px;
          color: var(--ffffff, #fff);
          text-align: right;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 20px;
          text-align: center;
          display: inline-flex;
          justify-content: center;
          text-decoration: none;
          background: linear-gradient(107deg, #002672 0%, #f53434 100%);

          @include mq(max_md) {
            display: block;
            min-width: 100%;
            max-width: 100%;
            font-size: 14px;
          }
        }

        .privacy-and-terms-block {
          @include mq(max_md) {
            display: flex;
            justify-content: center;
          }
          &__text {
            color: #fff;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @include mq(max_md) {
              text-align: center;
              max-width: 270px;
            }
          }

          &__link {
            color: #f53434;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .secure-and-encrypted__block {
          margin: 12px 0px;
          display: none;
          align-items: center;

          .icon-lock {
            min-width: 16px;
            max-width: 16px;
            height: 16px;
            margin-right: 6px;
          }

          .secure-and-encrypted__text {
            color: var(--gray-600, #718096);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          @include mq(max_md) {
            display: flex;
          }
        }
      }
    }
  }

  &__tournaments {
    width: 100%;
    padding: 64px 0px;
    background-color: rgba(0, 38, 114, 0.1);

    @include mq(max_md) {
      padding: 0px 0px 40px 0px;
    }

    .tournament-block {
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__title {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 12px;

        @include mq(max_md) {
          text-align: center;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 8px;
          max-width: 285px;
        }
      }

      &__description {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &__header {
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mq(max_md) {
          margin-bottom: 16px;
        }
      }

      &__list {
        width: 100%;

        @include mq(max_md) {
          max-width: 100%;
          overflow-x: auto;
          padding-bottom: 8px;
        }
      }

      &__list-row {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;

        @include mq(max_md) {
          justify-content: flex-start;
          margin-bottom: 16px;
        }

        .list-sport {
          &__item {
            min-width: 80px;
            max-width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 16px;

            &:last-child {
              margin-right: 0;
            }

            @include mq(max_md) {
              min-width: 70px;
              max-width: 70px;
              height: 70px;
            }
          }

          &__image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &__livestreaming-service {
    width: 100%;
    background-color: #222;
    padding: 60px 0px 70px;

    @include mq(max_md) {
      padding: 24px 0px 40px;
    }
    .btn-get-plan {
      display: block;
      margin: 90px auto 0px;
      width: fit-content;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 12px 68px;
      border-radius: 8px;
      background: #002672;
      text-decoration: none;
      border: none;

      @include mq(max_md) {
        margin: 16px auto 0px;
        background-color: #3ac5c9;
      }
    }

    .livestreaming-service {
      &__money-back {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

        @include mq(max_md) {
          display: flex;
        }

        .money-back {
          &__image {
            width: 125.063px;
            height: 146.086px;
            flex-shrink: 0;
          }

          &__title {
            color: var(--ffffff, #fff);
            text-align: center;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 24px 0px 12px;
          }

          &__description {
            color: var(--ffffff, #fff);
            text-align: center;

            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            max-width: 300px;
            line-height: 20px; /* 153.846% */
          }
        }
      }
      &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq(max_md) {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
        }
      }
      &__left {
        max-width: 500px;
        @include mq(max_md) {
          max-width: 100%;
          margin-top: 16px;
        }
      }

      &__right {
        width: fit-content;
        .livestreaming-service-image {
          min-width: 526.003px;
          max-width: 526.003px;
          height: 340.037px;
          flex-shrink: 0;

          @include mq(max_md) {
            min-width: 100%;
            max-width: 100%;
            height: 254px;
            object-fit: cover;
          }
        }
      }

      &__header-content {
        margin-bottom: 24px;
      }
      &__title {
        color: var(--ffffff, #fff);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;

        @include mq(max_md) {
          color: var(--ffffff, #fff);
          text-align: center;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 12px;
          max-width: 100%;
        }
      }
      &__description {
        color: var(--ffffff, #fff);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */

        @include mq(max_md) {
          color: var(--ffffff, #fff);
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 153.846% */
          max-width: 300px;
          margin: auto;
        }
      }

      &__list-number {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .number-item {
          width: 50%;
          margin-bottom: 24px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          @include mq(max_md) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          &__title {
            color: var(--ffffff, #fff);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 10px;

            @include mq(max_md) {
              font-size: 13px;
            }
          }

          &__value {
            color: #104fcd;
            font-size: 44px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @include mq(max_md) {
              font-size: 32px;
              color: #3ac5c9;
            }
          }

          &:first-child,
          &:nth-child(2) {
            .number-item__title {
              @include mq(max_md) {
                max-width: 100px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

.price-popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.price-popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;

  @include mq(max_md) {
    top: 8px;
    right: 8px;
  }

  img {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    object-fit: cover;
  }
}

.price-popup__body {
  position: relative;
  max-width: 670px;
  min-width: 670px;
  background: #ffffff;
  border: 10px solid #002672;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 65px 0px;

  @include mq(max_md) {
    min-width: 100%;
    max-width: 100%;
    border: 5px solid #002672;
    padding: 30px 0px;
  }
}

.price-popup--show {
  z-index: 100;
  opacity: 1;
}

.price-popup-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a202c;
}

.price-popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price-popup-sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #1a202c;
  display: block;
  margin: 12px 0px;
  text-transform: uppercase;
}

.price-popup-content__detail {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #1a202c;
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 32px;
  }

  @include mq(max_md) {
    font-size: 24px;
    list-style: 32px;
  }

  .prefix_label {
    color: #1a202c;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 48px; /* 133.333% */

    @include mq(max_md) {
      font-size: 24px;
    }
  }

  .shadow-content-wrapper {
    position: relative;
    top: 5px;
    left: 0;
    margin-left: 16px;

    @include mq(max_md) {
      top: -5px;
    }
  }

  .box-shadow {
    width: 232px;
    height: 23px;
    border: none;
    position: absolute;
    bottom: 0;
    right: -5px;

    @include mq(max_md) {
      width: 162px;
    }
  }

  .success-text {
    color: #18b745;
  }

  .primary-text {
    color: #e34b31;
  }

  .green-shadow {
    background: rgba(24, 183, 69, 0.15);
  }

  .red-shadow {
    background: #e34b31;
    opacity: 0.15;
  }
}

.price-popup-content__btn {
  min-width: 215px;
  max-width: 215px;
  height: auto;
  padding: 12px 0px;
  margin-top: 12px;
  text-align: center;
  background: #e34b31;
  border-radius: 7px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.price-popup-content__countdown {
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 22px;
  border-top: 1px solid #e2e8f0;
  padding-top: 12px;

  @include mq(max_md) {
    max-width: 80%;
  }

  .countdown__title {
    font-style: normal;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1a202c;
    display: block;
    margin-bottom: 12px;

    @include mq(max_md) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 8px;
    }
  }

  .list__countdown {
    display: flex;
    gap: 24px;
    align-items: center;

    @include mq(max_md) {
      gap: 0px;
    }

    .list__countdown-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: max-content;
      max-width: max-content;

      @include mq(max_md) {
        min-width: 55px;
        max-width: 55px;
      }

      .time {
        display: flex;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        background: #002672;
        border-radius: 100px;
        color: #ffffff;
        border: none;
        border-radius: 50%;
        margin-bottom: 8px;

        @include mq(max_md) {
          min-width: 48px;
          max-width: 48px;
          height: 48px;
          font-size: 14px;
          line-height: 21px;
        }
      }

      .label {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        text-align: center;

        /* Gray:900 */

        color: #1a202c;
      }
    }
  }

  @include mq(max_md) {
    margin-top: 24px;
  }
}

// payment page style

.payment-page-container {
  padding: 36px 0px;
  background-color: #111;
  position: relative;
  height: auto;
  color: #fff;

  @include mq(max_md) {
    padding: 24px 0px;
  }
}
.payment-page {
  &__content-detail-wrapper {
    background-color: #111;
    position: relative;
    height: auto;
    &::before {
      position: absolute;
      top: 100px;
      left: 0;
      content: "";
      width: 100%;
      height: 765px;
      background-image: url("../images/mask-background.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;

      @include mq(max_md) {
        display: none;
      }
    }
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      width: fit-content;

      @include mq(max_md) {
        margin-right: 16px;
      }
    }
    &-title {
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
      margin: 0;
      padding: 0;
      margin-bottom: 8px;

      @include mq(max_md) {
        font-size: 22px;
      }
    }

    &-text {
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }

    &-right {
      .base-timer {
        position: relative;
        width: 56px;
        height: 56px;
      }

      .base-timer__svg {
        transform: scaleX(-1);
      }

      .base-timer__circle {
        fill: none;
        stroke: none;
      }

      .base-timer__path-elapsed {
        stroke-width: 7px;
        stroke: #cbd5e0;
      }

      .base-timer__path-remaining {
        stroke-width: 7px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
        fill-rule: nonzero;
        stroke: currentColor;
      }

      .base-timer__path-remaining.green {
        color: #4a5568;
      }

      .base-timer__path-remaining.orange {
        color: #4a5568;
      }

      .base-timer__path-remaining.red {
        color: #4a5568;
      }

      .base-timer__label {
        position: absolute;
        width: 56px;
        height: 56px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        /* Gray:900 */

        color: #fff;
      }
    }
  }
  &__intro {
    align-items: center;
    background: rgba(249, 188, 30, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 16px 0 50px;
    padding: 10px 16px;
    width: 100%;

    .icon-info {
      min-width: 20px;
      max-width: 20px;
      height: 20px;
      object-fit: cover;
      margin-right: 8px;
    }

    .intro-text {
      color: #f9bc1e;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      margin: 0;
      padding: 0;
    }
  }
  &__middle-block {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

    @include mq(max_md) {
      flex-direction: column;

      justify-content: center;
      align-items: center;
    }
  }

  &__middle-left {
    padding: 15px;
    margin: 0px 40px;
    .qr-image {
      min-width: 215px;
      max-width: 215px;
      height: 215px;
      background: #fff;
    }

    @include mq(max_md) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
  &__middle-right {
    flex-grow: 1;
    height: fit-content;
    .block-value-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;
      border: none;
      color: #fff;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }

      .left-block {
        margin-right: 12px;
      }

      .label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        display: inline-block;
        margin-bottom: 4px;
      }

      .value {
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
      }

      .btn-copy {
        background-color: transparent;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #f91e4e;
        cursor: pointer;
        border: none;
        outline: none;
        cursor: pointer;

        @include mq(max_md) {
          font-size: 14px;
        }
      }
    }
  }

  &__footer-block {
    width: 100%;
    margin: 36px 0px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: #fff;

    @include mq(max_md) {
      padding: 24px;
    }

    &-title {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #fff;

      @include mq(max_md) {
        font-size: 18px;
      }
    }

    &-description {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #fff;
      margin: 8px 0px 16px;
    }
    .input-text {
      display: block;
      width: 100%;
      outline: none;
      background: rgba(255, 255, 255, 0.1);
      /* Gray:400 */

      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      padding: 12px 16px;
      cursor: pointer;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      /* Gray:600 */

      color: #fff;

      &::placeholder {
        color: #718096;
      }

      &:focus {
        outline: none;
      }

      @include mq(max_md) {
        padding: 6px 8px;
      }
    }

    .d-flex {
      display: flex;
    }

    .justify-end {
      justify-content: flex-end;
    }
    &-input-file {
      margin-top: 16px;
      margin-bottom: 8px;

      @include mq(max_md) {
        margin-bottom: 16px;
      }

      input[type="file"] {
        display: none;
      }

      .input-file-label {
        border: 1px solid #f91e4e;
        border-radius: 8px;
        display: inline-block;
        padding: 10px 30px;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */

        text-align: center;

        color: #f91e4e;

        @include mq(max_md) {
          padding: 6px 24px;
        }
      }
    }
    &-btn-submit {
      background: #f91e4e;
      border: none;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      min-width: 200px;
      outline: none;
      padding: 10px 0;
      text-align: center;

      @include mq(max_md) {
        padding: 6px 0px;
      }
    }
  }
}

.choose-payment-type-wrapper {
  width: 100%;
  margin-top: 24px;

  @include mq(max_md) {
    margin-top: 16px;
  }

  .payment-method-tabs {
    display: flex;
    align-items: center;
    gap: 12px 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;

    @include mq(max_md) {
      flex-direction: column;
      gap: 12px;
    }
  }

  li {
    width: 100%;
    height: auto;

    @include mq(max_md) {
      width: 100%;
      margin: 0 !important;
      padding: 0;
    }

    .icon-checked {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      z-index: 2;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .ui-tabs-active {
    a {
      border: 1px solid #f91e4e;
      background: rgba(249, 30, 78, 0.05);

      .checked-box {
        border-color: transparent;
      }
      .icon-checked {
        display: block;
        border-color: transparent;
      }
    }

    .tab-no-refundable-content {
      border-bottom: none;
      position: relative;
      z-index: 999;
      // top: 6px;
      left: 0;
      border-radius: 8px 8px 0px 0px;
      // height: 90px;
      // padding-top: 0;

      @include mq(max_md) {
        padding-top: 10px;
        top: 0;
        height: auto;
      }
    }
  }

  .payment-type-item {
    padding: 10px 12px 10px 16px;
    display: flex;
    align-items: center;
    gap: 0px 16px;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;

    @include mq(max_md) {
      padding: 10px 16px;
      gap: 0px 16px;
    }

    &:hover {
      text-decoration: none;
    }

    .checked-box {
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      min-width: 22px;
      max-width: 22px;
      min-height: 22px;
      position: relative;

      @include mq(max_md) {
        margin-right: 0 !important;
      }
    }

    .payment-method-detail {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      // gap: 6px;

      @include mq(max_md) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 6px;
      }

      .payment-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        margin: 0;
        padding: 0;

        margin-right: 8px;
      }

      .list-method-type {
        display: flex;
        align-items: center;
        gap: 4px;

        .method-type-item {
          background: #ffffff;
          border: 1px solid #e2e8f0;
          border-radius: 4px;
          padding: 0px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20px;
          max-height: 20px;
          max-width: 40px;
        }

        .image-payment-credit {
          min-width: 21.67px;
          max-width: 21.67px;
          height: 18.33px;
        }

        .image-payment-visa {
          min-width: 30.84px;
          max-width: 30.84px;
          height: 10px;
        }

        .image-payment-jcb {
          min-width: 18.33px;
          max-width: 18.33px;
          height: 18.33px;
        }

        .image-payment-union {
          min-width: 21.33px;
          max-width: 21.33px;
          height: 13.33px;
        }

        .image-payment-paypal {
          min-width: 16px;
          max-width: 16px;
          height: 16px;
        }
      }
    }
  }

  .non-refundable-content-tab {
    width: 100%;
    height: auto;

    background: rgba(249, 30, 78, 0.05);

    border: 1px solid #f91e4e;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    padding: 0px 24px 24px 56px;
    position: relative;
    top: 0px;

    @include mq(max_md) {
      padding: 0px 40px 16px 56px;
      border-top: none;
      margin-top: 0;
      position: relative;
      padding-top: 10px;
      top: 0;
    }

    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      margin-bottom: 16px;

      @include mq(max_md) {
        margin-bottom: 8px;
      }
    }

    .highlight {
      color: #f91e4e;

      @include mq(max_md) {
        color: #fff;
      }
    }

    .list-cryptocurrency-to-pay {
      display: flex;
      align-items: center;
      gap: 40px;

      @include mq(max_md) {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }

    .cryptocurrency-to-pay-item {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include mq(max_md) {
        margin-bottom: 0 !important;
      }

      .cryptocurrency-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fff;

        @include mq(max_md) {
          margin-bottom: 0 !important;
        }
      }

      .list-cryptocurrency-to-pay-box {
        display: flex;
        align-items: center;

        .box-cryptocurrency-item {
          border: 1px solid #e2e8f0;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          width: 113px;
          height: 48px;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          margin-right: 16px;

          &:last-of-type {
            margin-right: 0;
          }

          .cryptocurrency-image {
            min-width: 24px;
            max-width: 24px;
            height: 24px;
            object-fit: cover;
          }

          .cryptocurrency-name {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            text-transform: uppercase;
          }
        }
      }

      .active {
        border: none !important;
        background: url("../images/chain-item-background.png") transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}

.recommend-wrapper {
  display: flex;
  align-items: center;
  padding: 3px 8px;
  border-radius: 8px;
  background: var(--fdc-400, #fdc400);
  margin-right: 6px;
  height: fit-content;
  max-width: fit-content;

  .recommend-text {
    color: #0f172a;
    margin-left: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: fit-content;
  }
}
.label-discount {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 3px 8px;
  border-radius: 8px;
  background: #f53434;
  line-height: normal;
  height: fit-content;
}


.payment-recommend-title  {

  @include mq(max_md) {
    flex-direction: column;
  }

}